In [7]:
import numpy as np
import pandas as pd

In [2]:
SHOW_DATA = True

## Load data

In [18]:
# Users file
users_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=users_cols, encoding='latin-1')

# Ratings file
ratings_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=ratings_cols, encoding='latin-1')

# Train + Test ratings
ratings_train = pd.read_csv('ml-100k/ua.base', sep='\t', names=ratings_cols, encoding='latin-1')
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=ratings_cols, encoding='latin-1')
print items.head(1).to_string(index=False)

# Items file
items_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
              'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
              'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=items_cols, encoding='latin-1')

movie id       movie title release date  video release date                                           IMDb URL  unknown  Action  Adventure  Animation  Children's  Comedy  Crime  Documentary  Drama  Fantasy  Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
       1  Toy Story (1995)  01-Jan-1995                 NaN  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0          0          1           1       1      0            0      0        0          0       0        0        0        0       0         0    0        0

In [4]:
if SHOW_DATA:
    print "Users:", users.shape, "\n", users.head(), "\n\n"
    print "Ratings:", ratings.shape, "\n", ratings.head(), "\n\n"
    print "Items:", items.shape, "\n", items.head()

Users: (943, 5)
   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213


Ratings: (100000, 4)
   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596


Items: (1682, 24)
   movie id        movie title release date  video release date  \
0         1   Toy Story (1995)  01-Jan-1995                 NaN
1         2   GoldenEye (1995)  01-Jan-1995                 NaN
2         3  Four Rooms (1995)  01-Jan-1995                 NaN
3         4  Get Shorty (1995)  01-Jan-1995                 NaN
4         5     Copycat (1995)  01-Jan-1995                 NaN

                                            IMDb URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Children's   ...     Fantasy  Film-Noir  Horror  \
0          0          1           1   ...           0          0       0
1          1          0           0   ...           0          0       0
2          0          0           0   ...           0          0       0
3          0          0           0   ...           0          0       0
4          0          0           0   ...           0          0       0

   Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
0        0        0        0       0         0    0        0
1        0        0        0       0         1    0        0
2        0        0        0       0         1    0        0
3        0        0        0       0         0    0        0
4        0        0        0       0         1    0        0

[5 rows x 24 columns]

## Create train/test sets

In [6]:
ratings_train.head()

   user_id  movie_id  rating  unix_timestamp
0        1         1       5       874965758
1        1         2       3       876893171
2        1         3       4       878542960
3        1         4       3       876893119
4        1         5       3       889751712

In [23]:
MAX_RATING = 5

users_features = pd.DataFrame(columns=["Age", "Sex", "Occupation", "Zip", "Action", "Adventure", "Animation", "Children's",
                                       "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical",
                                       "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"])

for _, i in ratings_train.iterrows():
    movie = items[items["movie id"] == i["movie_id"]]
    movie_features = pd.DataFrame(data=movie, columns=["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime",
                                                       "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical",
                                                       "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"])
    
    rating = i["rating"]
    
    weighted_movie_features = rating * movie_features / MAX_RATING

   Action  Adventure  Animation  Children's  Comedy  Crime  Documentary  Drama  Fantasy  Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
1     0.6        0.6        0.0         0.0     0.0    0.0          0.0    0.0      0.0        0.0     0.0      0.0      0.0      0.0     0.0       0.6  0.0      0.0